/*DEV*/
    body {
        /*height: 10000px;*/
    }


/*TEXT*/

    /*general*/
    p, a, h1, h2, h3, h4, h5, h6 {
        font-family: 'Menlo', monospace;
        color: #0A013E;
        font-size: 1em;
        text-decoration: none;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
    }

    a {
        color: #FF9A00;
    }

    a:hover {
        opacity: .5;
    }

    /*header*/
    .site-title {
        font-style: bold;
        color: #FF9A00;
    }

    .site-title:hover {
        color: #9A7741;
        text-decoration: none;
    }

    .nav-item {
        margin-left: 1em;
        font-style: italic;
        color: #FF9A00;
       /* text-align: right;*/
    }

    /*article*/
    .article-title {
        font-style: bold-italic;
        text-align: center;
    }

    .article-title:hover {
        color: #FF9A00;
    }

    /*buttons*/
    .button.disabled {
        color: #8F8C9C;
    }

    .button.disabled:hover {
            opacity: 1;
        }



/*LAYOUT*/
    /*body*/
    body {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    /*wrapper*/
    .wrapper {
        max-width: 640px;
        padding-left: 2em;
        padding-right: 2em;
    }

    /*header*/
    header {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 3em;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
        background: white;
        box-shadow: 2em -5em 3em 6em white;
    }

    @media (max-width: 375px) {
        header {
            width: calc(100% + 4em);
            flex-direction: column;
            padding-bottom: 1em;
            margin-bottom: 2em;
            padding-left: 2em;
            padding-right: 2em;
            margin-left: -2em;
        }

        header .nav-item:first-child {
            margin-left: 0;
        }
    }

    /*footer*/
    footer {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-top: 3em;
        margin-bottom: 0;
        border-top: 1px dashed #C3C0D0;
        /*background: #E5E4E9;*/

        /*display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;*/
    }

    @media (max-width: 375px) {
        footer {

            padding-bottom: 1em;



           /* display: flex;
            justify-content: center;
            flex-direction: column;*/
        }
    }

    .blog-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    p.page-number {
        color: #8F8C9C;
    }

    p.copyright {
        margin-top: 2em;
        color: #C3C0D0;
        font-style: italic;
        /*background: #8F8C9C;*/
        text-align: right;
    }



    /*article*/
    article {
        margin-bottom: 3em;
    }

    article:last-child {
        margin-bottom: 2em;
    }

    .img {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .img img {
        width: 100%;
        right: 2em;
    }

    @media (max-width: 420px) {
        .img img {
            width: calc(100% + 4em);
            margin-left: -2em;
        }
    }

/*    article:after {
        position: absolute;
        padding-top: 0;
        content: "\2234";
        font-family: 'Menlo', monospace;
        color: #8F8C9C;
        width: 100%;
        padding-left: auto;
        padding-right: auto;
    }
    article:last-child:after {
        content: none;
    }*/

    .img .caption {
        margin-top: 1em;
        color: #8F8C9C;
        text-align: center;
        font-style: italic;
    }